/node_modules
/public/storage
*/public/*.js
/public/css/*.css
/public/js/*.js*
/storage/*.key
!/public/css/uikit.min.css
!/public/css/uikit-rtl.min.css
!/public/js/uikit.min.js
!/public/js/uikit-icons.min.js
public/assets/admin
public/mix-manifest.json
public/hot
pullic/.DS_Store
public/js/app.js
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
