/node_modules
/public/storage
/public/*.js
/storage/*.key
public/assets/admin
public/mix-manifest.json
public/hot
pullic/.DS_Store
public/js/app.js
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
